# This file contains customized pin mappings for the BIGTREETECH Manta M8P V1.1
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[include steppers_xy.cfg]
[include steppers_z.cfg]
[include extruder.cfg]
[include probe.cfg]
[include bed_heater.cfg]
[include fan_control.cfg]
[include filament_sensors.cfg]
[include homing_gantry.cfg]
[include led_control.cfg]
[include input_shaper.cfg]
[include displays.cfg]
[include macros.cfg]

[mcu]
##	[X in MOTOR1] - B Motor
##	[Y in MOTOR2] - A Motor
##	[E in MOTOR8] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_130011000B504B4633373520-if00
#restart_method: command
canbus_uuid: da7dc07b20ab
canbus_interface: can0

[mcu EBBCan]
canbus_uuid: 113115c835a6
canbus_interface: can0

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0 
